@media screen and (min-width: 700px) {
    .body.user-and-creators-questions-page .container .left-block {
        margin-right: 83px;
    }

    .body.questions-page .block .top h1 {
        font-size: 80px;
    }

    .alter-bottom {
        display: none;
    }

    .body.questions-page .block {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    .body.user-and-creators-questions-page .container .left-block .bottom {
        display: none;
    }

    .body.questions-page .block {
        width: 90%;
        margin: auto;
    }

    .body.questions-page .block .bottom .left-block, .body.questions-page .block .bottom .right-block {
        text-align: start;
        width: 90%;
    }

    .body.questions-page .block .bottom {
        flex-direction: column;
        /*margin: 10px;*/
        /* height: 700px; */
        justify-items: center;
        justify-content: space-between;
    }

    .body.user-and-creators-questions-page .container {
        flex-direction: column;
        margin: 0 auto;
        height: 700px;
        justify-items: center;
        justify-content: space-around;
    }
}


.body.questions-page {
    justify-content: center;
}

.body.questions-page .block .top {
    justify-content: center;
    text-align: center;
}

.body.questions-page .block .top h1 {
    font-weight: 700;
    line-height: 94px;
    color: #000000;
}

.body.questions-page .block .top p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.8);
}

.body.questions-page .block .top p a {
    color: #08BDD4;
}

.body.questions-page .block .bottom {
    margin-top: 44px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.body.questions-page .block .bottom .left-block {
    margin: 0 auto;
}

.body.questions-page .block .bottom .right-block {
    margin: 0 auto;
}

.body.questions-page .block .bottom .left-block, .body.questions-page .block .bottom .right-block {
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 10px;
}

.body.questions-page .block .bottom .left-block .content, .body.questions-page .block .bottom .right-block .content {
    margin: 27px 37px;
}

.body.questions-page .block .bottom .left-block .content h2, .body.questions-page .block .bottom .right-block .content h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.body.questions-page .block .bottom .left-block .content .questions-links, .body.questions-page .block .bottom .right-block .content .questions-links {
    margin-top: 17px;
    margin-bottom: 16px;
    height: 175px;
}

.body.questions-page .block .bottom .left-block .content .questions-links a, .body.questions-page .block .bottom .right-block .content .questions-links a {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1D8E9C;
}

.body.questions-page .block .bottom .left-block .content .button, .body.questions-page .block .bottom .right-block .content .button {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 22px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.body.questions-page .block .bottom .left-block .content .button .button-elements, .body.questions-page .block .bottom .right-block .content .button .button-elements {
    align-items: center;
    display: flex;
    cursor: pointer;
    margin: 0 auto;
}

.body.questions-page .block .bottom .left-block .content .button .button-elements a, .body.questions-page .block .bottom .right-block .content .button .button-elements a {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.body.questions-page .block .bottom .left-block .content .button .button-elements .right-arrow-svg, .body.questions-page .block .bottom .right-block .content .button .button-elements .right-arrow-svg {
    margin-left: 13px;
    margin-right: 8px;
}

.body.user-and-creators-questions-page .container {
    width: 1170px;
    height: auto;
    margin: 20px;
    display: flex;
}

.body.user-and-creators-questions-page .container .left-block {
}

.body.user-and-creators-questions-page .container .left-block .top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body.user-and-creators-questions-page .container .left-block .top a {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #000000;
    margin-right: 0;
    max-width: 130px;
}

.body.user-and-creators-questions-page .container .left-block .top h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.body.user-and-creators-questions-page .container .left-block .top .arrow-right {
    width: 22px;
    margin: auto;
}

.body.user-and-creators-questions-page .container .left-block .middle {
    margin: 48px 0 32px;
}

.body.user-and-creators-questions-page .container .left-block .middle .questions-links a {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #08BDD4;
    margin-bottom: 16px;
}

.body.user-and-creators-questions-page .container .left-block .bottom .content, .alter-bottom .content {
    padding: 22px 12px;
    margin-right: 11px;
    background: #EAEFF1;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.body.user-and-creators-questions-page .container .left-block .bottom .content h5, .alter-bottom .content h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.body.user-and-creators-questions-page .container .left-block .bottom .content p, .alter-bottom .content p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.8);
}

.body.user-and-creators-questions-page .container .left-block .bottom .content p a, .alter-bottom .content p a {
    color: #08BDD4;
}

.body.user-and-creators-questions-page .container .right-block .question {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.body.user-and-creators-questions-page .container .right-block .question h2 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.body.user-and-creators-questions-page .container .right-block .question p {
    margin-top: 13px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.body.user-and-creators-questions-page .container .right-block .question.first h2 {
    margin-top: 0;
}

.body.user-and-creators-questions-page .container .right-block .question.last {
    border: none;
}

/*# sourceMappingURL=questions.css.map */
